* {
    user-select: none;
    -webkit-user-drag: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

header > nav {
    text-decoration: none;
    list-style: none;

    padding-top: 1em;
}

.home-page-parent-container {
    display: flex;
    padding: 20px;

    gap: 1em;
}

#map {
    height: 100vh !important;
    width: 70vw !important;
}

.user-interactive-menu-container-home-page {
    width: 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f3f3f3;
}

.loading-bar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;

    padding: 2.5em;
}

.loader {
    background-color: #336399;
    width: 4em;
    height: 0.5em;
    border-radius: 0.25em;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(2);
    }

    100% {
        transform: scaleX(1);
    }
}


.standard-type-container {
    margin-bottom: 20px;
    
    text-align: center;
}

.input-checkbox-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 18vw;
    height: fit-content;
}

.input-checkbox-container label:not(:first-child) {
    margin-left: 10px;
}

.input-checkbox-container input[type="checkbox"]:hover {
    cursor: pointer;
}

.legend-container-main {
    margin-top: 20px;
    text-align: center;
    line-height: 1.5em;
}

.legend-main-content-container {
    display: flex;
    gap: 2em;
}

.legend-item p {
    margin: 0;
}

.shape-legend-container {
    display: flex;
    flex-direction: column;
    line-height: 0.5em;
    margin: 0;
    padding: 0;
}

.shape-legend-item {
    display: flex;
    align-items: center;
}

.shape-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 5px;
}

.shape-square {
    width: 15px;
    height: 15px;
    background-color: #000;
    margin-right: 5px;
}

.shape-triangle {
    width: 0;
    height: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 15px solid #000;
    margin-right: 5px;
}

@media screen and (max-width: 800px) {
    .home-page-parent-container {
        flex-direction: column;
    }

    #map {
        width: inherit !important;
        height: 70vh !important;
    }

    .user-interactive-menu-container-home-page {
        width: inherit;
    }

    .input-checkbox-container {
        max-width: 100vw;
    }

    .legend-main-content-container {
        flex-direction: column;
    }
}